#head {
    margin-top: 0;
    margin-left: 50%;
}

 .btn-1, .btn-2, .btn-3, .btn-4, .btn-5, .btn-6{
    border-radius: 3px;
    color: bisque;
    background-color: coral;
    cursor: pointer;
    border-width: 1px;
    width: 110px;
    height: 35px;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
}

